.btn{
  font-family: $normal-font;
  color: $green;
  margin-top: 20%;
  border: 6px solid;
  padding: 80px 160px;
  font-weight: bold;
  font-size: 52px;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  &:hover{
    background-color: $green;
    color: #fff;
    border: 6px solid $green;
  }
  &.hide{
    display: none;
  }
}
