.page{
  margin-bottom: 30px;
  margin: 30px auto;
      max-width: 1000px;
  &_title{
    text-align: center;
  }
  &_content{
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  &_text{
    display: none;

    &--show{
      display: block;
    }
  }
  &_images{
    width: 100%;
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //flex-wrap: wrap;
    .img-container{
      margin-right: 30px;
      margin-top: 10px;
      float: left;
      &.single{
        width: 100%;
        float: none;
        margin: 0 auto;
      }
    }
    &.multiple-rows{
      .img-container{
        max-height: 220px;

      }
      &--large{
        .img-container{
          max-height: 250px;

        }
      }
    }
    &.normal{
      display: block;
    }
  }
}
.special{
  position: absolute;
  bottom: 50px;
  left: calc(50% - 170px);
}
.fancy{
  font-family: $fancy-font;
  font-weight: 100;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.big{
  font-size: 48px;
  &--fancy{
    font-size: 86px;
  }
}
.medium{
  font-size: 26px;
  &--fancy{
    font-size: 56px;
  }
}
.small{
  font-size: 18px;
  &--fancy{
    font-size: 42px;
  }
}
.white{
  color: white;
  span{
    color: white;
  }
}
.green{
  color: $green;
  span {
    color: $green;
  }
}

.rotate90Right{
  transform: rotate(90deg) !important;
  margin-top: 50px;
}
