.page{
  margin-bottom: 30px;
  &_title{
    text-align: center;
  }
  &_content{
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
  }
  &_text{
    display: none;

    &--show{
      display: block;
    }
  }
  &_images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.fancy{
  font-family: $fancy-font;
  font-weight: 100;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.big{
  font-size: 48px;
  &--fancy{
    font-size: 86px;
  }
}
.medium{
  font-size: 26px;
  &--fancy{
    font-size: 56px;
  }
}
.white{
  color: white;
  span{
    color: white;
  }
}
.green{
  color: $green;
  span {
    color: $green;
  }
}
